<nav class="navbar">
    <div class="container">
        <a href="/" class="brand">Library System</a>
        <!-- Navigation Menu -->
        <div class="nav-wrapper">
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/books">Books</a></li>
                <% if (admin !== 0) { %>
                    <li><a href="/manage">Manage</a></li>
                <% } %>
                <li><a href="/home/account">Account</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>  